[core]
    editor = vim
    excludesfile = ~/.gitignore

[pull]
    rebase = true

[push]
    default = current

[alias]
    aliases = ! git config --list | awk '/alias/{ print $1 }' | sed -e 's/alias\\.//' -e 's/=.*//'
    lg = log --oneline
    hist = log --oneline --graph --decorate --all --color=auto
    stat = status --short --branch
    save = stash --all
    undo = "!sh -c 'read -p \"Choose reset type --soft or --hard (s/h): \" answer; if [ \"$answer\" = \"s\" ]; then git reset --soft HEAD^; elif [ \"$answer\" = \"h\" ]; then git reset --hard HEAD^; else echo \"Nothing happened\"; fi'"

[maintenance]
    strategy = incremental
